header {
  background-image: url('/img/sunrise.jpeg');
  overflow: hidden;
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 190px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

#seeMore{
    display: none;
}
#seeMore2{
    display: none;
}

footer{
    position: absolute;
    bottom: 0;

}
h3 {
    display: inline-block;
    margin-bottom: 0;
}
/*
.showmore {
    font-size: 1.1em;
    /* margin-top: 1.5em; 
    
  }
  
  .showmore .more, .showmore.show .dots {
    display: none
    
  }
  
  .showmore.show .more {
    display: inline
  }
  
  .showmore a {
    cursor: pointer;
    display: block;
   /*  margin-top: 0.5em;
    margin-bottom: 1em; 
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #77f7b750;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-align: center;
    line-height: 1.5em;
}