header {
  background-image: url('/img/sunrise.jpeg');
  overflow: hidden;
  background-attachment: fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 190px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

#seeMore{
    display: none;
}
#seeMore2{
    display: none;
}
#seeMore3{
  display: none;
}
p{
  line-height: 1.4em;
}

footer{
    position: absolute;
    bottom: 0;

}
h3 {
    display: inline-block;
    margin-bottom: 0;
}
